img{
  height:400px;
  width:400px;
  border: 5px solid rgb(219, 206, 216);
  margin-left: 35%;
}
body{
    background-color: rgba(228, 2, 108, 0.957);
}
h1{
    text-transform: uppercase;
    font-size: 2rem;
    font-family: cursive;
    margin-left: 37%;
}
